body {
  background: #800000;
  color: white;
  text-align: center;
}

body * {
  box-sizing: border-box;
}

.banner {
  width: 100%;
  height: 240px;
  padding: 20px;
  background: #bfac86;
}

.logo {
  text-align: center;
}

.logo img {
  height: 200px;
}

.board-element-image img {
  width: 200px;
}

.board-element-position {
  font-weight: bold;
}

.board-element-contact {
  padding-top: 10px;
}

.burger-container {
  display: inline-block;
  cursor: pointer;
}

.burger-children {
  text-align: center;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.content {
  background: white;
  color: black;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

nav > a.selected {
  color: gold;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: gold;
}

@media only screen and (min-width: 1000px) {
  .burger {
    height: 50px;
    line-height: 50px;
    width: 100%;
    padding: 0px 10px 0px 10px;
    text-align: center;
    background: #600000;
  }

  .burger-icon {
    display: none;
  }

  .hide-burger-children {
    display: block;
  }

  .content {
    width: 1000px;
    margin: auto;
  }

  header {
    width: 1000px;
    margin: auto;
  }

  .home-content {
    display: table;
    margin: 20px;
  }

  .about {
    text-align: left;
    padding: 10px;
  }

  .home-content > div {
    vertical-align: top;
    display: table-cell;
  }

  .image-gallery-slide {
    background: transparent !important;
  }

  .image-gallery-slide img {
    object-fit: cover;
    height: calc(100vh - 275px);
  }

  .slide-show {
    padding-bottom: 20px;
  }

  .switch-container {
    display: table;
    float: right;
    font-size: 1.5em;
  }

  .switch-container > div {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 5px 0px 5px;
  }

  .board-element {
    display: table;
    border-top: 1px solid gold;
    margin-top: 10px;
  }

  .board-element > div {
    display: table-cell;
    vertical-align: middle;
  }

  .board-element-image {
    width: 30%;
  }

  .board-element-data {
    width: 70%;
  }

  nav {
    float: left;
    font-size: 1.5em;
  }

  nav > a {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid gold;
  }

  nav > a:last-child {
    border-right: none;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 7px;
    left: 0;
    right: 0;
    bottom: -7px;
    background-color: #bfac86;
  }
}

@media only screen and (max-width: 999px) {
  .slide-show {
    display: none;
  }

  .event-modal {
    margin: auto;
  }

  .burger {
    text-align: center;
    background: #600000;
  }

  .burger-icon {
    display: inline-block;
    cursor: pointer;
  }

  .hide-burger-children {
    display: none;
  }

  header {
    width: 95%;
    margin: auto;
  }

  .content {
    width: 95%;
    margin: auto;
  }

  .switch-container {
    display: table;
    margin: auto;
    font-size: 1.5em;
  }

  .switch-container > div {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 5px 5px 5px;
  }

  .board-element {
    border-top: 1px solid gold;
    margin-top: 10px;
  }

  .board-element > div {
    vertical-align: middle;
  }

  nav {
    font-size: 2em;
    padding-bottom: 20px;
  }

  nav > a {
    display: block;
    margin: 5px;
    border: none;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    background-color: #bfac86;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}